body{
    margin: 0px;
    padding: 20px 100px;
}

h1{
    text-align: center;
}

img{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

p{
    text-align: justify;
}

#color-changer{
    text-align: right;
}

.btn{
    width: 20px;
    height: 20px;
    display: inline-block;
    border: solid grey 2px;
    border-radius: 50%;
    cursor: pointer;
    
}

#white{
    background-color: white;
}

#black{
    background-color: black;
}

#red{
    background-color: red;
}

#blue{
    background-color: blue;
}

